.transaction-item{
  display: flex;
  flex-wrap: wrap;
}

td{
    width: 100px;
    border: 1px solid black;
    padding: 20px 20px;
}
td{
    display: flex;
    align-items: center;
    justify-content: center;

}
