.profile{
  width: 400px;
  margin: 20px;
  border: 2px solid black;
  border-radius: 15px;
  padding: 20px;
}
.description{
  display: block;
  text-align: center;
  margin-bottom: 40px;
  }
  .avatar{
      border-radius: 100px;
      border: 1px solid black;
      margin: 0 auto;
  }
  .name{
      font-size: 28px;
      font-weight: 900;
  }
  .tag{
      font-size: 20px;
      font-weight: 600;
  }
  .location{
      font-size: 18px;
      font-weight: 500;
  }
  .stats{
      list-style: none;
      border: 1px solid black;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      padding: 0;
  }
 